img src="pictures/aboutbg.png"
p För två år sedan var vi enade om att vi skulle starta ett företag tillsammans, och vi hade stora visioner. För oss är miljön viktig och vi är alla måna om att kunna bidra till en bättre framtid. Det krävs inte mycket av varje individ för att göra skillnad. Detta ville vi uppmärksamma fler människor om och utvecklade då en affärside. Miljöfrågor är ett aktuellt ämne i dagens samhälle och vi är därför övertygade om att det finns en plats för vårt företag på marknaden. Eko UF drivs av sex stycken tredje års elever från Fryshusets gymnasium. Vi har alla ett stort engagemang gällande miljöfrågor och olika kvalitéer att bidra med för en lyckad verksamhet.