body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

#header {
    width: 100%;
    float: left;
}

#menu {
    width: 100%;
    height: 50px;
    float: left;
    background-image: url('./pictures/menybg.png');
    -webkit-box-shadow: 0 6px 6px #888;
    -moz-box-shadow: 0 6px 6px #888;
    box-shadow: 0 6px 6px #888;
}

#menu img, #menu img a {
    /*margin-left: 55%;*/
}

#slogan {
    margin: 0;
}

.knapp {
    float: left;
    margin-left: 9%;
}

ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

.menu_class {
    margin-left: 60%;
}

.file_menu1 {
    display:none;
    width:130px;
    margin-left: 3.5%;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 15px;
    -moz-box-shadow:    inset 0 0 15px #ccc;
    -webkit-box-shadow: inset 0 0 15px #ccc;
    box-shadow:         inset 0 0 15px #777;
}

.file_menu1 li {
    /*background-color: whitesmoke;*/
}

.file_menu1 li a {
    color:#000;
    font-family: Times New Roman;
    font-size: 16pt;
    text-decoration:none;
    padding:10px;
    display:block;
    margin-left: 0px;
}

.file_menu1 li a:hover {
    padding:10px;
    font-weight:bold;
    color: #002d99;
}

.hoverli1 {
    width: 130px;
    /*background-image: url('./pictures/omoss.png')*/
}

.file_menu2 {
    display:none;
    width:130px;
    margin-left: 4%;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 15px #ccc;
    -webkit-box-shadow: inset 0 0 15px #ccc;
    box-shadow:         inset 0 0 15px #777;
}

.file_menu2 li {
    /*background-color: lightgrey;*/
}

.file_menu2 li a {
    color:#000;
    font-family: Times New Roman;
    font-size: 16pt;
    text-decoration:none;
    padding:10px;
    display:block;
    margin-left: 0px;
}

.file_menu2 li a:hover {
    padding:10px;
    font-weight:bold;
    color: #002d99;
}

.hoverli2 {
    width: 130px;
}

.hover {
    float: left;
}

#proddesc {
    font-size: 16pt;
    font-family: "Times New Roman";
    width: 1000px;
}

.content {
    float: left;
    width: 80%;
    height: 100%;
    margin-left: 3%;
    margin-top: 1%;
    padding-top: 2%;
}

.content img, p {
    margin-left: auto;
    margin-right: auto;
}

#left {
    width: 7%;
    height: 102%;
    background-color: #efefef;
    float: left;
    -webkit-box-shadow: -5px 5px 7px #888 inset;
    -moz-box-shadow: -5px 5px 7px #888 inset;
    box-shadow: -5px 5px 7px #888 inset;
}

#right {
    float: right;
    height: 102%;
    width: 7%;
    background-color: #efefef;
    -webkit-box-shadow: 5px 5px 7px #888 inset;
    -moz-box-shadow: 5px 5px 7px #888 inset;
    box-shadow: 5px 5px 7px #888 inset;
}

.person img {
    width: 60%;
}

.person {
    float: left;
    width: 19%;
    margin-left: 1%;
    min-height: 50%;
}

p {
    font-family: "Times New Roman";
}