img src="pictures/affide.png"
p ”Eko UF:s affärsidé är att erbjuda produkter som ökar medvetenheten gällande energi och miljö hos kostnadsmedvetna personer. Genom våra breda försäljningskanaler når vi ut till företagets potentiella kunder på ett kreativt sätt.”